extends ../layout

block content
  h1 Listings

  if listings && listings.length
    each listing in listings
      .card
        h3
          a(href=`/listings/${listing.listing_id}`)= listing.title
        p
          strong Quantity:
          |  #{listing.quantity}
        p
          strong Expiry Date:
          |  #{new Date(listing.expiry_date).toDateString()}
        p
          strong Pickup Location:
          |  #{listing.pickup_location}
        p
          strong Status:
          |  #{listing.status}
  else
    p No listings found.
